<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row ">

        <ul class="list-group" style="width: 100%;">
            <% for(let item of cart){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <img style="height: 50px;" src="img/<%= item.image %>">
                <%= item.name %>
                <p style="width: 50px;"><%= item.amount %> KG</p>
                <span class="badge badge-primary badge-pill">Total: <%= item.amount*item.price %> LE</span>
                <span class="badge badge-success badge-pill">Status: <%= item.status %></span>
                <form action="cart/remove" method="post">
                    <input type="hidden" name="id" value="<%= item.id %>">
                    <input type="submit" class="btn-sm btn btn-danger" value="Remove">
                </form>
            </li>
            <% } %>
        </ul>

    </div>
</div>

<%- include('parts/footer') %>