<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <form action="/" method="GET">
        <div class="form-group">
            <label for="all">
                <h1>category</h1>
            </label>
            <select id="all" class="form-control" name="category">

                <option>all</option>
                <option>khdar</option>
                <option>fawakeh</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container">
    <div class="row ">
        <% for(let p of products){ %>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3 ">

            <div class="card mt-3">
                <div class="card-body">

                    <img src="img/<%= p.image %>" alt="" style="max-height: 170px;max-width: 225px;">
                    <h5> <a href="/product/<%= p.id %> " class="card-title"><%= p.name %></a></h5>
                    <p class="card-text">price: <%= p.price %> per KG</p>

                    <%= p.description %>


                    <% if (userid && !isAdmin) { %>
                    <form action="/cart" method="POST">

                        <input type="hidden" name="name" value="<%= p.name %> ">
                        <input type="hidden" name="price" value="<%= p.price %> ">
                        <input type="hidden" name="image" value="<%= p.image %>">
                        <input type="hidden" name="productId" value="<%= p.id %> ">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-8" style="padding: 5px;">
                                        <input type="number" name="amount" class="form-control">
                                    </div>
                                    <div class="col-4" style="padding: 10px 0;">
                                        <p> KG</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <input type="submit" value="Add to cart" class="btn btn-primary">
                            </div>
                        </div>

                    </form>
                    <% } %>


                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>


<%- include('parts/footer') %>