<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <form action="/" method="GET">
        <div class="form-group">
            <label for="all">
                <h1>category</h1>
            </label>
            <select id="all" class="form-control" name="category">
                <option>all</option>
                <option>osama</option>
                <option>ahmed</option>
                <option>ali</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container">
    <div class="row ">
        <% for(let p of products){ %>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3 ">

            <div class="card mt-3">
                <div class="card-body">
                    <p><%= p.id %> </p>
                    <h5><a href="/product/<%- p.id %> " class="card-title"><%= p.name %></a></h5>
                    <p class="card-text"><%= p.price %></p>

                    <%= p.description %>

                    <% if (userid && !isAdmin) { %>
                    <form action="/cart" method="POST">
                        <input type="number" name="amount" class="form-control">
                        <input type="hidden" name="name" value="<%= p.name %> ">
                        <input type="hidden" name="price" value="<%= p.price %> ">
                        <input type="hidden" name="productId" value="<%= p.id %> ">
                        <input type="submit" value="Add to cart" class="btn btn-primary">
                    </form>
                    <% } %>


                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>


<%- include('parts/footer') %>